{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="ui grid center aligned page">
        <div class="eight wide column">
            {% if error %}
                <div class="ui error message">
                    <div class="header">Login Failed</div>
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                </div>
            {% endif %}

            <form class="ui form" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <h2 class="ui dividing header">Login</h2>
                <div class="field">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </div>
                <div class="field">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                </div>

                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>

                <input class="ui submit button blue" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                <a href="{{ path('fos_user_registration_register') }}"><div class="ui white button" >Register</div></a>
            </form>
        </div>
    </div>
</div>
