{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="ui grid" style="border-style: solid; border-color: #f9fafc;">
            <div class="row">
                <h1 style="color: #394456; margin-left:10px;text-decoration: underline;">{{ ad.title }}</h1>
            </div>
            <div class="row">
                <div class="ten wide column">
                    <img id="display-image" src="{{ asset('images/ads/'~ad.photos[0].url) }}"/>
                    <br>
                    <div style="background-color: #fffed6; padding: 10px; border-radius: 10px; margin-top: 10px;">
                        <h4> Description</h4>
                        <p style="font-size: 15px;">{{ ad.description }}</p>
                    </div>
                </div>
                <div class="two wide column">
                    {%  set numberOfPhotos =  ad.photos | length - 1 %}
                    {% for i in 0..numberOfPhotos %}
                        {% if i == 0 %}
                            <a href="#" class="ui small image clickable-image selected-image" style="cursor: pointer;">
                                <img src="{{ asset('images/ads/'~ad.photos[i].url) }}">
                            </a>
                        {% else %}
                            <a href="#" class="ui small disabled image clickable-image" style="cursor: pointer;">
                                <img src="{{ asset('images/ads/'~ad.photos[i].url) }}">
                            </a>
                         {% endif %}
                        {% if i != 4 %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="four wide center aligned column">
                    <div class="ui orange large label" style="width: 100%; margin-bottom: 5px;">
                        <i class="dollar sign large icon"></i>
                        {{ ad.cost }} LKR per {{ ad.rentFrequency }} {{ ad.frequencyType.name }}
                    </div>

                    <div class="ui green large label" style="width: 100%; margin-bottom: 5px;">
                        <i class="phone large icon"></i>
                        {{ ad.contactNumber }}
                    </div>

                    <div class="ui grey large label" style="width: 100%; margin-bottom: 5px;">
                        <i class="map marker large icon"></i>
                        {{ ad.location.name }} , {{ ad.location.district.name }}
                    </div>

                    <div class="ui large label" style="width: 100%; margin-bottom: 5px; background-color: #f7f8f9;">
                        <br>
                        <i class="user icon"> Published by : </i>
                        Chanaka
                        <br>
                        <br>
                        <i class="calendar alternate outline icon" > Published date : </i>
                        {{ ad.createdAt | date("m/d/Y")  }}
                        <br>
                        <br>
                        <i class="bookmark outline icon"> Category : </i>
                        {{ ad.subCategory.name }}
                        <br>
                        <br>
                    </div>
                    {% if app.user %}
                        {% if ad.user.id == app.user.id %}
                            <hr>
                            <a href="/ad/update/{{ ad.id }}" class="ui compact labeled icon button">
                                <i class="edit icon"></i>
                                Edit
                            </a>
                            {#<a class="ui compact labeled icon red button">#}
                                {#<i class="trash icon"></i>#}
                                {#Delete#}
                            {#</a>#}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ads/ad_detail.js') }}" type="text/javascript"></script>
{% endblock %}